/* custom-bootstrap.css */

/* Light Mode Colors */
:root {
  --primary: #6200ee; /* Primary color */
  --primary-variant: #3700b3; /* Primary variant */
  --secondary: #03dac6; /* Secondary color */
  --secondary-variant: #018786; /* Secondary variant */
  --background: #ffffff; /* Background color */
  --surface: #ffffff; /* Surface color */
  --error: #b00020; /* Error color */
  --on-primary: #ffffff; /* Text color on primary color */
  --on-secondary: #000000; /* Text color on secondary color */
  --on-background: #000000; /* Text color on background color */
  --on-surface: #000000; /* Text color on surface color */
  --on-error: #ffffff; /* Text color on error color */
}

/* Dark Mode Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #bb86fc; /* Primary color */
    --primary-variant: #3700b3; /* Primary variant */
    --secondary: #04a091; /* Secondary color */
    --secondary-variant: #03dac6; /* Secondary variant */
    --background: #121212; /* Background color */
    --surface: #121212; /* Surface color */
    --error: #cf6679; /* Error color */
    --on-primary: #000000; /* Text color on primary color */
    --on-secondary: #000000; /* Text color on secondary color */
    --on-background: #ffffff; /* Text color on background color */
    --on-surface: #ffffff; /* Text color on surface color */
    --on-error: #000000; /* Text color on error color */
  }
}

/* Override Bootstrap colors */
.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.bg-success {
  background-color: var(--primary-variant) !important;
}

.text-success {
  color: var(--primary-variant) !important;
}

.bg-danger {
  background-color: var(--error) !important;
}

.text-danger {
  color: var(--error) !important;
}

.bg-warning {
  background-color: var(--secondary-variant) !important;
}

.text-warning {
  color: var(--secondary-variant) !important;
}

.bg-info {
  background-color: var(--secondary) !important;
}

.text-info {
  color: var(--secondary) !important;
}

.bg-light {
  background-color: var(--background) !important;
}

.text-light {
  color: var(--background) !important;
}

.bg-dark {
  background-color: var(--surface) !important;
}

.text-dark {
  color: var(--surface) !important;
}

.about-img
{
  width: 24%;
}